html {
    height: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    color: #333;
    padding: 8px;
}

header {
    margin: 2em auto 2em;
}

header>span {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16pt;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.apology {
    font-size: 52pt;
}

a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16pt;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
